<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Entitlements.plist
   pickup-in-three

   Created by Emily on 10/24/17.
   Copyright (c) 2017 Emily. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>aps-environment</key>
        <string>production</string> <!-- Either development or production -->
    </dict>
</plist>
